:root {
  --background: #ffffff;
  --text-primary: #000;
}

[variable-theme="dark"] {
  --background: #000;
  --text-primary: #ffffff;
}


.theme-mode {
  background-color: var(--background);
  height: 100vh;
  transition: all 0.5s;
}

.theme-mode h2 {
  color: var(--text-primary);
}

.theme-mode button{
  color:var(--text-primary)
}
