.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  gap: 10px;
  margin: 10px;
}

img {
  width: 500px;
  height: 500px;
  background-color: yellow;
}
.image{
  display: flex;
  flex-direction: column;
}

.imagebox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 50%;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transform: scale(1);
  flex-wrap: wrap;
}

.image p{
  text-align: center;
}
.left{
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: azure;
  margin-right: 10px;
  cursor: pointer;

}

.active{
  color: whitesmoke;
  transform: scale(2);
}

.right{
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: azure;
  cursor: pointer;
}

